h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: .5rem;
}

body {
    background:#f3f3f3;
    margin: 0;
    padding-top: 64px;
}

body.dark-mode {
    background: #222;
    color: #797979;
}

.content-row {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 32px;
}

.card-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin: 32px auto;
    justify-items: center;
    max-width: 850px;
}

.placeholder {
    height: 300px;
}